<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.visionbuilder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Business.BusinessContacts.AddBusinessContactsActivity" />
        <activity android:name=".activities.Business.BusinessContacts.BusinessContactsActivity" />
        <activity android:name=".activities.Business.BusinessPlans.BusinessPlansActivity" />
        <activity android:name=".activities.Business.BusinessGoals.BusinessGoalsActivity" />
        <activity android:name=".activities.Business.BusinessBio.BusinessBioActivity" />
        <activity android:name=".activities.Business.MothlyBills.BusinessMonthlyBillsActivity" />
        <activity android:name=".activities.Business.AddBusinessActivity" />
        <activity android:name=".activities.Business.BusinessDetailsActivity" />
        <activity android:name=".activities.Finance.Education.Reminder.AddReminderActivity" />
        <activity android:name=".activities.Finance.Education.Tuition.AddTuitionActivity" />
        <activity android:name=".activities.Finance.Education.Reminder.ReminderDetailsActivity" />
        <activity android:name=".activities.Finance.Education.Tuition.TuitionDetailsActivity" />
        <activity android:name=".activities.Finance.Education.School.TeacherDetailsActivity" />
        <activity android:name=".activities.Finance.Education.School.ClassDetailsActivity" />
        <activity android:name=".activities.Finance.Education.School.AddClassActivity" />
        <activity android:name=".activities.Finance.Education.School.AddTeacherActivity" />
        <activity android:name=".activities.Finance.Education.School.SchoolActivity" />
        <activity android:name=".activities.Finance.Education.School.AddSchoolActivity" />
        <activity android:name=".activities.Finance.Education.EducationDetailsActivity" />
        <activity android:name=".activities.Finance.Education.AddKidActivity" />
        <activity android:name=".activities.Finance.Education.EducationActivity" />
        <activity android:name=".activities.SavingPlan.Work.AddWorkActivity" />
        <activity android:name=".activities.SavingPlan.Vacations.AddVacationActivity" />
        <activity android:name=".activities.SavingPlan.RentMortgage.AddHomeActivity" />
        <activity android:name=".activities.SavingPlan.Holiday.AddHolidayActivity" />
        <activity android:name=".activities.SavingPlan.AddPersonActivity" />
        <activity android:name=".activities.SavingPlan.AutoPayment.AddAutoForPaymentActivity" />
        <activity android:name=".activities.SavingPlan.SavingPlanTransactionDetailsActivity" />
        <activity android:name=".activities.SavingPlan.AddSavingTransactionActivity" />
        <activity android:name=".activities.SavingPlan.SavingPlanListActivity" />
        <activity android:name=".activities.SavingPlan.AutoMaintenance.AddAutoActivity" />
        <activity android:name=".activities.SavingPlan.AutoMaintenance.AutoMaintenanceActivity" />
        <activity android:name=".activities.SavingPlan.Other.OtherActivity" />
        <activity android:name=".activities.SavingPlan.Work.WorkActivity" />
        <activity android:name=".activities.SavingPlan.Gifts.GiftsActivity" />
        <activity android:name=".activities.SavingPlan.BackToSchool.BackToSchoolActivity" />
        <activity android:name=".activities.SavingPlan.Holiday.HolidayActivity" />
        <activity android:name=".activities.SavingPlan.GivingCharities.GivingCharitiesActivity" />
        <activity android:name=".activities.SavingPlan.Vacations.VacationsActivity" />
        <activity android:name=".activities.SavingPlan.Family.FamilyActivity" />
        <activity android:name=".activities.SavingPlan.Health.HealthActivity" />
        <activity android:name=".activities.SavingPlan.HomeMaintenance.HomeMaintenanceActivity" />
        <activity android:name=".activities.SavingPlan.HomeRemodel.HomeRemodelActivity" />
        <activity android:name=".activities.SavingPlan.Spending.SpendingActivity" />
        <activity android:name=".activities.SavingPlan.Clothing.ClothingActivity" />
        <activity android:name=".activities.SavingPlan.Gas.GasActivity" />
        <activity android:name=".activities.SavingPlan.Groceries.GroceriesActivity" />
        <activity android:name=".activities.SavingPlan.AutoPayment.AutoPaymentActivity" />
        <activity android:name=".activities.SavingPlan.RentMortgage.RentMortgageActivity" />
        <activity android:name=".activities.SavingPlan.EmergencyFund.EmergencyFundActivity" />
        <activity android:name=".activities.SavingPlan.PersonSaving.PersonSavingActivity" />
        <activity android:name=".activities.SavingPlan.SavingPlanActivity" />
        <activity android:name=".activities.Trips.AddTripLayoverActivity" />
        <activity android:name=".activities.Trips.TripLayoverDetailsActivity" />
        <activity android:name=".activities.Trips.TripLayoversActivity" />
        <activity android:name=".activities.Finance.Insurance.InsuranceTransactionsDetailsActivity" />
        <activity android:name=".activities.Finance.Insurance.AddOtherInsuranceActivity" />
        <activity android:name=".activities.Finance.Insurance.AddCarInsuranceActivity" />
        <activity android:name=".activities.Finance.Insurance.AddHomeInsuranceActivity" />
        <activity android:name=".activities.Finance.Insurance.AddLifeInsuranceActivity" />
        <activity android:name=".activities.Finance.Insurance.InsuranceTransactionsActivity" />
        <activity android:name=".activities.Finance.Insurance.InsuranceActivity" />
        <activity android:name=".activities.Finance.StockAndBond.StockAndBondSourcesActivity" />
        <activity android:name=".activities.Finance.Income.RoyaltyIncome.RoyaltyIncomeActivity" />
        <activity android:name=".activities.Finance.Income.CapitalGains.CapitalGainsActivity" />
        <activity android:name=".activities.Finance.Income.RentalIncome.RentalIncomeActivity" />
        <activity android:name=".activities.Finance.Income.DividendIncome.DividendIncomeActivity" />
        <activity android:name=".activities.Finance.Income.InterestsIncome.InterestsIncomeActivity" />
        <activity android:name=".activities.Finance.Income.ProfitIncome.ProfitIncomeActivity" />
        <activity android:name=".activities.Trips.AddTripActivity" />
        <activity android:name=".activities.Trips.TripsActivity" />
        <activity android:name=".activities.Finance.Income.IncomeActivity" />
        <activity android:name=".activities.Finance.Income.AddIncomeActivity" />
        <activity android:name=".activities.Finance.Income.IncomeTimelineActivity" />
        <activity android:name=".activities.Finance.Income.IncomeDetailsActivity" />
        <activity android:name=".activities.Finance.Income.AddSourceActivity" />
        <activity android:name=".activities.Finance.Income.EarnedIncome.EarnedIncomeActivity" />
        <activity android:name=".activities.Finance.StockAndBond.StockAndBondDetailsActivity" />
        <activity android:name=".activities.Finance.StockAndBond.StockAndBondActivity" />
        <activity android:name=".activities.Goals.AddGoalActivity" />
        <activity android:name=".activities.Goals.GoalDetailsActivity" />
        <activity android:name=".activities.Contact.AddContactActivity" />
        <activity android:name=".activities.Meetings.AddMeetingActivity" />
        <activity android:name=".activities.Meetings.MeetingDetailsActivity" />
        <activity android:name=".activities.Loans.LoanDetailsActivity" />
        <activity android:name=".activities.Loans.LoansActivity" />
        <activity android:name=".activities.Transportation.TransportationActivity" />
        <activity android:name=".activities.Medical.MedicalDetailsActivity" />
        <activity android:name=".activities.Medical.AddEditMedicalActivity" />
        <activity android:name=".activities.Medical.MedicalActivity" />
        <activity android:name=".activities.Shopping.ShoppingDetailsActivity" />
        <activity android:name=".activities.Shopping.ShoppingActivity" />
        <activity android:name=".activities.Finance.HouseFinance.AddCableBillActivity" />
        <activity android:name=".activities.Finance.HouseFinance.AddMaintenanceActivity" />
        <activity android:name=".activities.Finance.HouseFinance.AddRentBillActivity" />
        <activity android:name=".activities.Finance.HouseFinance.HouseFinanceDetailsActivity" />
        <activity android:name=".activities.Finance.HouseFinance.HouseFinanceActivity" />
        <activity android:name=".activities.VisionPlatform.UserProfileActivity" />
        <activity
            android:name=".activities.VisionPlatform.VisionPlatformMainActivity"
            android:label="@string/title_activity_vision_platform_main" />
        <activity android:name=".activities.TodoList.TaskDetailsActivity" />
        <activity android:name=".activities.TodoList.AddTaskActivity" />
        <activity android:name=".activities.Finance.Banking.BankingTransactionsActivity" />
        <activity android:name=".activities.Contact.ContactsActivity" />
        <activity android:name=".activities.Business.BusinessActivity" />
        <activity android:name=".activities.Finance.FinanceActivity" />
        <activity android:name=".activities.Goals.GoalsActivity" />
        <activity android:name=".activities.TodoList.TodoListActivity" />
        <activity android:name=".activities.Meetings.MeetingsActivity" />
        <activity android:name=".activities.Calender.CalendarActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.LoginSignupActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TranportationActivity" />
        <activity android:name=".activities.AddEditRentActivity" />
        <activity android:name=".activities.Shopping.AddEditBillActivity" />
        <activity android:name=".activities.Loans.AddLoanActivity" />
        <activity android:name=".activities.AddMaintainanceActivity" />
        <activity android:name=".activities.AddGasActivity" />
        <activity android:name=".activities.Transportation.AddPublicTransportActivity" />
        <activity android:name=".activities.Finance.Banking.AddEditBankingTransactionsActivity" />
    </application>

</manifest>